body {
    font-family: sans-serif;
}

#graph {
    width: calc(100vw - 500px);
    height: calc(100vh - 100px);
    background-color: whitesmoke;
    border: 1px solid black

}

section.graph-and-list {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 100px);

    & div.stats {
        border:1px solid darkgray;
        margin-left:5px;
        padding:5px;

        & table tr td {
            white-space: nowrap;
        }
    }

    & div#loops-found {
        border: 1px solid darkgray;;
        border-radius: 4px;
        background-color: aliceblue;
        width: auto;
        height: 100%;
        overflow-y: auto;
        flex-grow: 1;
        margin-left: 10px;

        & ol li {
            cursor: pointer;

            &.selected {
                background-color: gray;
                color: white;
                font-weight: bold;
            }
        }
    }
}